<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="commons/res::res"/>
</head>
<body>
<div class="ui grid h-100" id="app">
    <div class="column three wide">
        <div class="ui attached message warning">
            <div class="header">WELCOME</div>
        </div>
        <div class="ui form center aligned attached segment h-100">
            <div id="list">
                <div class="field"><a href="#" style="color: red">当前用户:[[${session.user?.username}]]</a></div>
                <div class="field"><a href="/to/show">管理我的租房信息</a></div>
                <div class="field"><a @click="edit(null,0)" href="javascript:;">发布租房信息</a></div>
                <div class="field"><a href="/logout">注销</a></div>
            </div>
        </div>
    </div>
    <div class="column thirteen wide">
        <div class="ui attached message success">
            <div class="header">POWERED BY STRUTS SPRING HIBERNATE</div>
        </div>
        <div class="ui attached segment h-100">
            <table class="ui table">
                <thead>
                <tr>
                    <th>标题</th><th>月租金</th><th>发布日期</th><th>操作</th>
                </tr>
                </thead>
                <tr v-for="m in my">
                    <td>{{m.title}}</td>
                    <td>{{m.price}}</td>
                    <td>{{m.fbtime|fmt}}</td>
                    <td>
                        <button @click="edit(m,1)" class="ui button yellow icon">
                            <i class="icon edit"></i>修改
                        </button>
                        <button @click="edit(m,2)" class="ui button red icon">
                            <i class="icon remove"></i>删除
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="ui modal">
        <div class="header">{{title}}租房信息</div>
        <div class="content">
            <form id="editFrm" method="post" class="ui form" @submit="return false">
                <input type="hidden" name="id" :value="m.id">
                <input type="hidden" name="uid" th:value="${session.user.uid}">
                <input type="hidden" name="hid" :value="m.hid">
                <div class="fields inline">
                    <label class="two wide field">标题:</label>
                    <div class="seven wide field">
                        <input name="title" :value="m.title">
                    </div>
                </div>
                <div class="fields inline">
                    <label class="two wide field">区县:</label>
                    <div class="seven wide field">
                        <select name="area" @change="ch($event.target.value,0)" v-model="m.aid">
                            <option value="">请选择区县</option>
                            <option :value="a.aid" v-for="a in areas">{{a.aname}}</option>
                        </select>
                    </div>
                </div>
                <div class="fields inline">
                    <label class="two wide field">街道:</label>
                    <div class="seven wide field">
                        <select name="street" v-model="m.sid">
                            <option value="">请选择街道</option>
                            <option :value="s.sid" v-for="s in streets">{{s.sname}}</option>
                        </select>
                    </div>
                </div>
                <div class="fields inline">
                    <label class="two wide field">租金:</label>
                    <div class="seven wide field">
                        <input name="price" :value="m.price">
                    </div>
                </div>
                <div class="fields inline">
                    <label class="two wide field">户型:</label>
                    <div class="three wide field">
                        <select name="shi" :value="m.shi">
                            <option value="">请选择</option>
                            <option :value="i" v-for="i in 5">{{i}}</option>
                        </select>
                    </div>
                    <label class="one wide field">室</label>
                    <div class="three wide field">
                        <select name="ting" :value="m.ting">
                            <option value="">请选择</option>
                            <option :value="i" v-for="i in 5">{{i}}</option>
                        </select>
                    </div>
                    <label>厅</label>
                </div>
                <div class="fields inline">
                    <label class="two wide field">房屋类型:</label>
                    <div class="seven wide field">
                        <select name="type" :value="m.htid">
                            <option disabled value="">请选择</option>
                            <option value="1">地下室</option>
                            <option value="2">平房</option>
                            <option value="3">普通住宅</option>
                            <option value="4">公寓</option>
                            <option value="5">别墅</option>
                        </select>
                    </div>
                </div>
                <div class="fields inline">
                    <label class="two wide field">房屋信息:</label>
                    <div class="seven wide field">
                        <textarea name="houseinfo" rows="10" cols="50" :value="m.houseinfo"></textarea>
                    </div>
                </div>
                <div class="fields inline">
                    <label class="two wide field"></label>
                    <div class="two wide field">
                        <input @click="submit" class="ui button green" type="button" value="提交">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript">
    new Vue({
        el:'#app',
        data:{areas:{},streets:[],my:{},title:'添加',m:{id:''}},
        methods:{
            init(){
                $.post('/findById',data=>this.my = data);
                $.post('/loadAreas',data=>this.areas = data);
            },edit(m,t){
                this.title=t==0?'添加':t==1?'修改':'删除';
                switch(t){
                    case 0:
                        this.m = {id:''}
                        break;
                    case 1:
                        this.m = m;
                        this.ch(m.aid,1);
                        break;
                    case 2:
                        if(confirm('确定删除?')){
                            $.post('/delHouseById/'+m.id+'/'+m.hid,()=>location.reload())
                        }
                        return;
                }
                $(".ui.modal")
                    .modal('setting',{
                        duration:800,inverted:true,transition:'fade up',blurring:true
                    }).modal('show')
            },submit(){
                $.post('/edit',$('#editFrm').serialize(),()=>location.reload());
            },ch(val,n) {
                this.streets = [];
                let p = this.areas[val-1];
                let ids = p.sid.split(',');
                let names = p.sname.split(',');
                for (let i = 0; i < ids.length; i++) {
                    this.streets.push({
                        sid:ids[i],sname:names[i]
                    });
                }
            }
        },
        created(){
            this.init();
        },filters:{
            fmt(date){
                let d = new Date(date);
                function f(str) {
                    return str<10?'0'+str:str;
                }
                return d.getFullYear()+"-"+f(d.getMonth()+1)+"-"+f(d.getDate());
            }
        }
    })
</script>
</html>